body{
  margin: 0;
  padding: 0;
  min-height: 100vh !important;
  align-items: center;
}
#root{
  min-height: inherit;
  width: 100%;
  display: flex;
  justify-content: center;
  
}
.count{
  width: 316px;
}
.count__buttons{
  display: flex;
  border: 2px solid rgba(0, 0, 0, 0.582);
}
.count__buttons--btn{
  background-color: rgb(77, 77, 77);
  border-radius: 0;
}
.count__buttons--counter{
  width: 200px;
  justify-content: center;
  display: flex;
}
.count__buttons--btn-reset{
  border-radius: 0;
  width: 100%;
  background-color: rgb(226, 3, 3);
}